.border-margin {
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.healthbar-size {
    width: 900px;
    height: 200px;
}

.healthbar-change-transition {
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out-sine;
}

.pouch-size {
    width: 300px;
    height: 300px;
}